body{
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(at top left, #1d3461, #00001e);
    /*background: #1d3461;*/
    color: #CFCFCF;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

#header{
    background: black;
    margin: 0;
}

#header h1{
    margin: 0;
    text-align: center;
    padding: 0.25em 0 0.25em 0;
    text-transform: uppercase;
}

#outer-ball{
    height: 20em;
    width: 22em;
    background: radial-gradient(at top left, #202020, #000000);
    border-radius: 100%;
    padding-top: 2em;
}

#outer-ball:active{
    margin-left: 1em;
    margin-top: 1em;
}

#ball{
    height: 14em;
    width: 14em;
    background: black;
    border-radius: 100%;
    margin: auto;
}

#triangle{
    opacity: 0;
    width: 0;
    height: 0;
    border-style: inset;
    border-width: 0 6em 9em 6em;
    border-color: transparent transparent #3a6ea1 transparent;
    margin: auto;
    padding-top: 0.8em;
    text-transform: uppercase;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

#decision{
    text-align: center;
    margin: 4.5em 0 0 -3em;
    width: 6em
}

#content{
    text-align: center;
}

#content-wrapper{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

#output-wrapper{
    min-height: 2em;
    padding: 0.5em 0;
}
