body{
    font-family: 'Roboto', sans-serif;
}

#content-wrapper{
    border: solid black 1px;
    width: 40em;
    margin: auto;
    text-align: center;
    padding: 0.5em;
}

#output-wrapper{
    min-height: 2em;
    padding: 0.5em 0;
    border: dot-dash red 1px;
}